.wrapper{
    display: grid;
    width:  100vw;
    height: 150vw;
    gap: 10px 10px;
    padding: 10px;
	grid-template-columns: [col1-start] 50%  [col2-start] 50%  [col2-end];
	grid-template-rows: [row1-start] 30% [row2-start] 30% [row3-start] 20% [row4-start] 20% [row4-end];
}
.wrapper .item{
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.9)
    );
    height: 100%;
    width: 100%;
    position: relative;
}
.wrapper .item:nth-child(1){
    grid-column: col1-start / col2-end;
    grid-row: row1-start / row2-start ;
}
.wrapper .item:nth-child(2){
    grid-column: col1-start / col2-end ;
    grid-row: row2-start / row3-start;
}
@media (min-width: 650px) {
    .wrapper{
        width:  75vw;
        height: 50vw;
        grid-template-columns: [col1-start] 25% [col2-start] 25% [col3-start] 25% [col4-start] 25% [col4-end];
	    grid-template-rows: [row1-start] 70% [row2-start] 30% [row2-end];
    }
    .wrapper .item:nth-child(1){
        grid-column: col1-start / col3-start;
        grid-row: row1-start / row2-start ;
    }
    .wrapper .item:nth-child(2){
        grid-column: col3-start / col4-end ;
        grid-row: row1-start / row2-start;
    }
}